#paineis-sobre {
    margin-top: 20px;
}
.depoimentos-titulo {
    background-color: #0275D8;
    padding-top: 1.56em;
    padding-bottom: 1.56em;
    color: #FFF;
    margin-bottom: 0;
    font-size: 1.5em;
}
.grupo-radio, .grupo-select{
    width:49.3%;
    display:inline-block;
}
.grupo-select{
    vertical-align: top;
}
.grupo-radio .radio:first-child{
    margin-top:0;
}